@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&family=Slabo+13px&display=swap');

/* HOME E CAIXAS DE DIVISAO */

html, body {
    margin: 0;
    height: 100%;
}

.fundo-principal{
    display: flex;
    height: 100%;
}

.cabecalho{
    background-color: #76C893;
    display: flex;
    left: 0;
    position: sticky;
    right: 0;
    top: 0;
    z-index: 4;
    height: 50px;
}

.cabecalho img{
    position: absolute;
    top: 20%;
    right: 10%;
    width: 30px;
    height: 30px;
}

.caixa-esquerda {
    height: 100%;
    flex: 20%;
    background-color: #f1f1f1;
    padding: 1%;
}

.caixa-direita {
    height: 100%;
    flex: 80%;
    padding: 1%;
    /* background-color: #f1f1f1; */
}


.sobre-ferramenta {
    height: 100%;
    flex: 80%;
    padding: 1%;
    /* background-color: #f1f1f1; */
}

.sobre-api {
    height: 100%;
    flex: 80%;
    padding: 1%;
    /* background-color: #f1f1f1; */
}

.sobre-metodologia {
    height: 100%;
    flex: 80%;
    padding: 1%;
    /* background-color: #f1f1f1; */
}

.escolhe-formulario{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

/*  BOTÃO DE ESCOLHA DO FORMULÁRIO*/

.escolhe-formulario button {
    width: 100px;
    background-color: #8ECAE6;
    border-radius: 100px;
    color: #fff;
    font-weight: 900;
    padding: 15px 15px;
    text-transform: uppercase;
    border-width: 0;
    margin-right: 1%;
}

.escolhe-formulario button:hover {
    width: 100px;
    background-color: #219EBC;
    border-radius: 100px;
    color: #fff;
    font-weight: 900;
    padding: 15px 15px;
    text-transform: uppercase;
    border-width: 0;
    margin-right: 1%;
    cursor: pointer;
}

.escolhe-formulario button:focus {
    width: 100px;
    background-color: #19778f;
    border-radius: 100px;
    color: #fff;
    font-weight: 900;
    padding: 15px 15px;
    text-transform: uppercase;
    border-width: 0;
    margin-right: 1%;
    cursor: pointer;
}

/* BOTAO PARA FICAR ATIVO QUANDO MUDAR A DIV */

.active{
    width: 100px;
    background-color: #19778f;
    border-radius: 100px;
    color: #fff;
    font-weight: 900;
    padding: 15px 15px;
    text-transform: uppercase;
    border-width: 0;
    margin-right: 1%;
    cursor: pointer;
}

/* BOTAO ENVIO DE FORMULÁRIO */

.botao-enviar{
    margin-top: 1%;
    width: 100px;
    background-color: #B5E48C;
    border-radius: 50px;
    color: #000;
    font-weight: 900;
    padding: 15px 15px;
    text-transform: uppercase;
    border-width: 0;
    display: block;
    margin: auto;
    margin-bottom: 2%;
    

}

.botao-enviar:hover{
    margin-top: 1%;
    width: 100px;
    background-color: #76C893;
    border-radius: 50px;
    color: #000;
    font-weight: 900;
    padding: 15px 15px;
    text-transform: uppercase;
    border-width: 0;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-bottom: 2%;

}

/* PREENCHIMENTO FORMULÁRIO */

form{
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #f1f1f1; */
    border-radius: 20px;
    border-color: #f1f1f1;
    border-style: dotted;
}

select, input{
    margin-bottom: 5%;
    border: 2px solid #f1f1f1;
    width: 250px;
    /* border-color: #D2D2D2; */
    border-radius: 30px;
    padding: 10px 20px;
    text-transform: uppercase;
    text-align: center;
    /* AQUI, CUSTOMIZA A SETINHA DO MENU TÁ LIGADO */
    appearance: none ;
    font-family: "Raleway",sans-serif;
    
}

.nome-formulario{
    font-family: "Raleway",sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

.label-formulario{
    font-family: "Raleway",sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    margin-bottom: 3px;

}

.formulario-formato{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho-logo img{
    width: 40%;
    height: auto;
    display: flex;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.topico-cabecalho{
    font-family: "Open Sans",sans-serif;
    font-size: 21px;
    font-weight: 800;
    line-height: 30px;
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    /* justify-content: center; */
    text-align: left;
}
.texto-cabecalho{
    font-family: "Open Sans",sans-serif;
    font-size: 21px;
    font-weight: 200;
    line-height: 30px;
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
}



