<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seguridados</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png')}}">
</head>

<div class="resultado-erro">
    <h2>Valha!</h2>
    <h4>Não tenho nenhum dado com esses filtros.</h4>

    <button><a target="_blank" href="https://seguridados-ce.onrender.com/">BUSCAR NOVAMENTE</a></button>
</div>