<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Pesquisa</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <!-- ESCOLHER O FORMULÁRIO COM TOGGLE (BOTAO DE ALTERNÂNCIA) -->
    <div class="escolhe-formulario">
        <button onclick="mostraFormularioMUN()">Município</button>
        <button onclick="mostraFormularioREG()">Região</button>
        <button onclick="mostraFormularioCE()">Ceará</button>
    </div>

    <div class="formulario" id="formulario-municipio">
        <form action="/API/PESQUISA" method="post">
            <h2 class="nome-formulario"> Município</h2>
            <div class="formulario-ano">
                <p class="label-formulario">Escolha o ano</p>
                <select name="ano" id="ano">
                    {% for ano in anos %}
                    <option value="{{ ano }}">{{ ano }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="formulario-municipio">
                <p class="label-formulario">Escolha o município*:</p>
                <select name="municipio" id="municipio" required>
                    {% for municipio in municipios %}
                    <option value="{{ municipio }}">{{ municipio }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="formulario-indicador">
                <p class="label-formulario">Escolha o indicador *</p>
                <select name="indicador" id="indicador" required>
                    {% for indicador in indicadores %}
                    <option value="{{ indicador }}"> {{ indicador }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="formulario-data">
                <p class="label-formulario">Agora, Escolha o intervalo de datas</p>
                <input type="date" id="data_inicio" name="data_inicio" value="2009-01-01" min="2009-01-01" max="{{ data_max.strftime('%Y-%m-%d') }}"><br>
                <input type="date" id="data_fim" name="data_fim" value="{{ data_max.strftime('%Y-%m-%d') }}" min="2009-01-01" max="{{ data_max.strftime('%Y-%m-%d') }}">
            </div>
            <div class="formulario-formato">
                <p class="label-formulario">Qual o formato que deseja a informação?</p>
                <select id="formato" name="formato">
                    <option value="CSV">CSV</option>
                    <option value="JSON">JSON</option>
                    <option value="Planilha(.xlsx)">Planilha(.xlsx)</option>
                </select>
            </div>
            <button class="botao-enviar" type="submit"> ENVIAR </button>
        </form>
    </div>
    <div class="formulario" id="formulario-ceara" style="display: none;">
        <form action="/API/CEARA" method="post">
            <h2 class="nome-formulario">Ceará</h2>
            <div class="formulario-ano">
                <p class="label-formulario">Escolha o ano</p>
                <select name="ano" id="ano">
                    {% for ano in anos %}
                    <option value="{{ ano }}">{{ ano }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="formulario-indicador">
                <p class="label-formulario">Escolha o indicador</p>
                <select name="indicador_ceara" id="indicador_ceara" required>               
                    {% for indicador in indicadores %}
                    <option value="{{ indicador }}"> {{ indicador }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="formulario-data">
                <p class="label-formulario">Agora, escolha o intervalo de datas</p>
                <input type="date" id="data_inicio" name="data_inicio" value="2009-01-01" min="2009-01-01" max="{{ data_max.strftime('%Y-%m-%d') }}"><br>
                <input type="date" id="data_fim" name="data_fim" value="{{ data_max.strftime('%Y-%m-%d') }}" min="2009-01-01" max="{{ data_max.strftime('%Y-%m-%d') }}">
            </div>
            <div class="formulario-formato">
                <p class="label-formulario">Qual o formato que deseja informação?</p>
                <select id="formato_ceara" name="formato_ceara">
                    <option value="CSV">CSV</option>
                    <option value="JSON">JSON</option>
                    <option value="Planilha(.xlsx)">Planilha(.xlsx)</option>
                </select>
            </div>
            <button class="botao-enviar" type="submit"> ENVIAR </button>
        </form>
    </div>
    <div class="formulario" id="formulario-regiao" style="display: none;">
        <form action="/API/REGIAO" method="post">
            <h2 class="nome-formulario">Formulário de Pesquisa – Regiao</h2>
            <div class="formulario-ano">
                <p class="label-formulario">Escolha o ano</p>
                <select name="ano" id="ano">
                    {% for ano in anos %}
                    <option value="{{ ano }}">{{ ano }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="formulario-regiao">
                <p class="label-formulario">Escolha a região administrativa</p>
                <select name="regiao_regiao" id="regiao_regiao" required>                    
                    {% for regiao in regioes %}
                    <option value="{{ regiao }}">{{ regiao }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="formulario-indicador">
                <p class="label-formulario">Escolha o indicador</p>
                <select name="indicador_regiao" id="indicador_regiao" required>
                    {% for indicador in indicadores %}
                    <option value="{{ indicador }}"> {{ indicador }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="formulario-data">
                <p class="label-formulario">Agora, escolha o intervalo de datas</p>
                <input type="date" id="data_inicio" name="data_inicio" value="2009-01-01" min="2009-01-01" max="{{ data_max.strftime('%Y-%m-%d') }}"><br>
                <input type="date" id="data_fim" name="data_fim" value="{{ data_max.strftime('%Y-%m-%d') }}" min="2009-01-01" max="{{ data_max.strftime('%Y-%m-%d') }}">
            </div>
            <div class="formulario-formato">
                <p class="label-formulario">Qual o formato que deseja informação?</p>
                <select id="formato_regiao" name="formato_regiao">
                    <option value="CSV">CSV</option>
                    <option value="JSON">JSON</option>
                    <option value="Planilha(.xlsx)">Planilha(.xlsx)</option>
                </select>
            </div>
            <button class="botao-enviar" type="submit"> ENVIAR </button>
        </form>
    </div>
    <script>
        function mostraFormularioMUN(){
            document.getElementById("formulario-municipio").style.display="block";
            document.getElementById("formulario-ceara").style.display="none";
            document.getElementById("formulario-regiao").style.display="none";
        }

        function mostraFormularioCE(){
            document.getElementById("formulario-municipio").style.display="none";
            document.getElementById("formulario-ceara").style.display="block";
            document.getElementById("formulario-regiao").style.display="none";
        }

        function mostraFormularioREG(){
            document.getElementById("formulario-municipio").style.display="none";
            document.getElementById("formulario-ceara").style.display="none";
            document.getElementById("formulario-regiao").style.display="block";
        }
    </script>
</body>
</html>