<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Pesquisa</title>
</head>
<body>
    <!-- ESCOLHER O FORMULÁRIO COM TOGGLE (BOTAO DE ALTERNÂNCIA) -->
    <div class="escolhe-formulario">
        <button onclick="mostraFormularioMUN()">Município</button>
        <button onclick="mostraFormularioREG()">Região Administrativa</button>
        <button onclick="mostraFormularioCE()">Ceará</button>
    </div>

    <div class="formulario-municipio" id="formulario-municipio">
        <h2>Formulário de Pesquisa – Município</h2>
        <form action="/API/PESQUISA" method="post">
            <div class="formulario-ano">
                <label for="ano">Ano:</label>
                <input type="text" id="ano" name="ano">
            </div>
            <div class="formulario-municipio">
                <label for="municipio">Município:</label>
                <select name="municipio" id="municipio" required>
                    <option value="">BUSQUE O MUNICÍPIO</option>
                    {% for municipio in municipios %}
                    <option value="{{ municipio }}">{{ municipio }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div class="formulario-indicador">
                <label for="indicador">Indicador:</label>
                <select name="indicador" id="indicador" required>
                    <option value="">BUSQUE O INDICADOR</option>
                    {% for indicador in indicadores %}
                    <option value="{{ indicador }}"> {{ indicador }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div class="formulario-data">
                <label for="data_inicio">Data de Início:</label>
                <input type="date" id="data_inicio" name="data_inicio" value="2009-01-01" min="2009-01-01" max="{{ data_max.strftime('%Y-%m-%d') }}">
                <label for="data_fim">Data de Fim:</label>
                <input type="date" id="data_fim" name="data_fim" value="{{ data_max.strftime('%Y-%m-%d') }}" min="2009-01-01" max="{{ data_max.strftime('%Y-%m-%d') }}">
            </div>
            <div class="fomulario-formato">
                <label for="formato">Formato:</label>
                <select id="formato" name="formato">
                    <option value="CSV">CSV</option>
                    <option value="JSON">JSON</option>
                    <option value="Planilha(.xlsx)">Planilha(.xlsx)</option>
                </select><br><br>
            </div>
            <button class="botao-enviar" type="submit"> ENVIAR </button>
        </form>
    </div>
    <div class="formulario-ceara" id="formulario-ceara" style="display: none;">
        <h2>Formulário de Pesquisa – Ceará</h2>
        <form action="/API/CEARA" method="post">
            <div class="formulario-ano">
                <label for="ano">Ano:</label>
                <input type="text" id="ano_ceara" name="ano_ceara">
            </div>
            <br>
            <div class="formulario-indicador">
                <label for="indicador">Indicador:</label>
                <select name="indicador_ceara" id="indicador_ceara" required>
                    <option value="">BUSQUE O INDICADOR</option>
                    {% for indicador in indicadores %}
                    <option value="{{ indicador }}"> {{ indicador }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div class="formulario-data">
                <label for="data_inicio">Data de Início:</label>
                <input type="date" id="data_inicio" name="data_inicio" value="2009-01-01" min="2009-01-01" max="{{ data_max.strftime('%Y-%m-%d') }}">
                <label for="data_fim">Data de Fim:</label>
                <input type="date" id="data_fim" name="data_fim" value="{{ data_max.strftime('%Y-%m-%d') }}" min="2009-01-01" max="{{ data_max.strftime('%Y-%m-%d') }}">
            </div>
            <div class="fomulario-formato">
                <label for="formato">Formato:</label>
                <select id="formato_ceara" name="formato_ceara">
                    <option value="CSV">CSV</option>
                    <option value="JSON">JSON</option>
                    <option value="Planilha(.xlsx)">Planilha(.xlsx)</option>
                </select><br><br>
            </div>
            <button class="botao-enviar" type="submit"> ENVIAR </button>
        </form>
    </div>
    <div class="formulario-regiao" id="formulario-regiao" style="display: none;">
        <h2>Formulário de Pesquisa – Regiao</h2>
        <form action="/API/REGIAO" method="post">
            <div class="formulario-ano">
                <label for="ano">Ano:</label>
                <input type="text" id="ano_regiao" name="ano_regiao"><br>
            </div>
            <div class="formulario-regiao">
                <label for="regiao_regiao">Região:</label>
                <select name="regiao_regiao" id="regiao_regiao" required>
                    <option value="">BUSQUE A REGIÃO</option>
                    {% for regiao in regioes %}
                    <option value="{{ regiao }}">{{ regiao }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="formulario-indicador">
                <label for="indicador_regiao">Indicador:</label>
                <select name="indicador_regiao" id="indicador_regiao" required>
                    <option value="">BUSQUE O INDICADOR</option>
                    {% for indicador in indicadores %}
                    <option value="{{ indicador }}"> {{ indicador }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div class="formulario-data">
                <label for="data_inicio">Data de Início:</label>
                <input type="date" id="data_inicio" name="data_inicio" value="2009-01-01" min="2009-01-01" max="{{ data_max.strftime('%Y-%m-%d') }}">
                <label for="data_fim">Data de Fim:</label>
                <input type="date" id="data_fim" name="data_fim" value="{{ data_max.strftime('%Y-%m-%d') }}" min="2009-01-01" max="{{ data_max.strftime('%Y-%m-%d') }}">
            </div>
            <div class="fomulario-formato">
                <label for="formato">Formato:</label>
                <select id="formato_regiao" name="formato_regiao">
                    <option value="CSV">CSV</option>
                    <option value="JSON">JSON</option>
                    <option value="Planilha(.xlsx)">Planilha(.xlsx)</option>
                </select><br><br>
            </div>
            <button class="botao-enviar" type="submit"> ENVIAR </button>
        </form>
    </div>
    <script>
        function mostraFormularioMUN(){
            document.getElementById("formulario-municipio").style.display="block";
            document.getElementById("formulario-ceara").style.display="none";
            document.getElementById("formulario-regiao").style.display="none";
        }

        function mostraFormularioCE(){
            document.getElementById("formulario-municipio").style.display="none";
            document.getElementById("formulario-ceara").style.display="block";
            document.getElementById("formulario-regiao").style.display="none";
        }

        function mostraFormularioREG(){
            document.getElementById("formulario-municipio").style.display="none";
            document.getElementById("formulario-ceara").style.display="none";
            document.getElementById("formulario-regiao").style.display="block";
        }
    </script>
</body>
</html>